fastapi==0.115.0
uvicorn[standard]==0.30.6
PyMuPDF==1.26.3

requests==2.32.3
httpx==0.28.1
boto3==1.35.99

docxtpl
python-docx

docx2pdf

weasyprint==68.1
python-multipart==0.0.9
psycopg2-binary>=2.9,<3.0
gspread==6.1.4
google-auth==2.33.0
docxcompose
PyPDF2
pypdf